# Add lines below to crontab
# using crontab -e

@reboot /usr/bin/flock -n /tmp/my.lockfile sudo python3 -u /home/pi/TweetPy/mainloop.py > /home/pi/TweetPy/logs.txt 2>&1
0 * * * * /usr/bin/flock -n /tmp/my.lockfile sudo python3 -u /home/pi/TweetPy/mainloop.py > /home/pi/TweetPy/logs.txt 2>&1

